.bookmarks {
    height: 100vh;
    flex: 0 0 384px;
    background: $gray;

    &-header {
        min-height: 100px;
        padding: 15px;
        background: $green;
        color: $white;

        &__title {
            font-size: 36px;
        }
    }

    &-list {
        &-item {
            &--ready &__button {
                display: none;
            }

            &--ready {
                background-color: green;
            }
        }
    }
}
