.book-details {
    flex: 1 1 100%;
    padding: 24px;
    overflow: auto;
    max-height: 100vh;
    position: relative;

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        font-size: 24px;
        background-color: #a2d240;
        color: $white;
        cursor: pointer;

        &:disabled {
            display: none;
            cursor: not-allowed;
        }

        &:not(:disabled):hover {
            color: $white;
        }
    }

    &-title {
        font-size: 34px;
        font-weight: 500;
    }

    &-author {
        font-size: 26px;
        font-weight: 500;
    }

    &-body {
        margin-top: 36px;

        &-row {
            margin-bottom: 10px;
            word-wrap: break-word;
            max-width: 100%;

            &__title {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
